body {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

input[type="text"] {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #2e6430;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #4a9c4e;
}

#solucion {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    display: inline-block;
    max-width: 80%;
}